.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid p{
    text-align: center;
}

.buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}