<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Tinder</h1>
  <form (submit)="doSubmit()" [formGroup]="formGroup">
    @switch (registerId) {
      @case (1) {
        <app-register1 
        (emitter)="getEmitter($event)"
        [countryControl]="countryControl"
        [emailControl]="emailControl"
        [lastNameControl]="lastNameControl"
        [nameControl]="nameControl"
        [passwordControl]="passwordControl"

        />
      }
      @case (2) {
        <app-register2 
        (emitter)="getEmitter($event)"
        [sexControl]="sexControl"
        [showGenderProfileControl]="showGenderProfileControl"
        />
      }
      @case (3) {
        <app-register3 
          (emitter)="getEmitter($event)"
          [birthDateControl]="birthDateControl"
        />
      }
      @case (4) {
        <app-register4 
          (emitter)="getEmitter($event)"
          [passionControl]="passionControl"
        />
      }
      @case (5) {
        <app-register5 
          (emitter)="getEmitter($event)" 
          [fileControl]="fileControl"
          />
      }
    }
  </form>
</ion-content>